.flashcard {
    max-width: 450px;
    width: 90vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 10px;
}

.flipped {
    transform: rotateY(180deg);
}

.flashcard .front,
.flashcard .back {
    position: absolute;
    width: 100%;
    cursor: pointer;
    min-height: 250px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    background: black;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flashcard .back {
    transform: rotateY(180deg);
}